<div class="header-bar">
  <h1>Welcome to Kirana Store</h1>
</div>
<div class="form-item">
  <h2>Add New Item</h2>
  <form (submit)="addItem()">
    <label for="itemName">Item:</label>
    <input type="text" id="itemName" class="item-input" name="itemName" [(ngModel)]="newItem.item" required>&nbsp;&nbsp;

    <label for="itemDescription">Description:</label>
    <textarea id="itemDescription" name="itemDescription" [(ngModel)]="newItem.description"
      required></textarea>&nbsp;&nbsp;

    <label for="itemDate">Date Brought:</label>
    <input type="date" id="itemDate" class="item-input" name="itemDate" [(ngModel)]="newItem.dateBrought"
      required>&nbsp;&nbsp;

    <label for="itemStock">Stock:</label>
    <input type="number" id="itemStock" class="item-input" name="itemStock" [(ngModel)]="newItem.stock"
      required>&nbsp;&nbsp;

    <button type="submit">Add Item</button>
  </form>
</div>
<h2>Available Stocks</h2>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Date Brought</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of stockItems">
      <td>{{ item.item}}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.dateBrought }}</td>
      <td>
        <ng-container *ngIf="!editMode[item.item]; else displayStock">
          {{ item.stock }}
        </ng-container>
        <ng-template #displayStock>
          <input type="number" [(ngModel)]="item.stock" required>
        </ng-template>
      </td>
      <td>
        <button (click)="editItem(item)" class="edit-btn">Edit</button>&nbsp;
        <button (click)="toggleEditMode(item.item)" class="updt-btn">Update Stock</button>&nbsp;
        <button (click)="deleteItem(item)" class="del-btn">Delete</button>&nbsp;
        <button (click)="saveItem(item)" class="save-btn">Save</button>&nbsp;
      </td>
    </tr>
  </tbody>
</table>