/* You can add global styles to this file, and also import other style files */
table{
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
th, td {
    padding: 10px;
    border: 1px solid;
    text-align: center;
  }
.header-bar{
    background-color: #225e0a;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 70px
}
body{
    background-color: rgb(159, 239, 166);
}
input{
    width: 150px;
    height: 25px;

}
.form-item{
    padding-left: 70px;
}